<% if @patient_identifier.new_record?
  patient_identifier_div = 'patientIdentifierNew'  -%>
<div id="patientIdentifierNew">
<% else
     patient_identifier_div = "patient_identifier#{@patient_identifier.id}"
   end %>
   <% patient_form_for([@patient, @patient_identifier], :update => patient_identifier_div) do |f| -%>
    <table>
      <%= f.text_field :patient_identifier %>
      <%= f.text_field  :affinity_domain %>
      <%= f.submit "Save" %>
      <%= f.table_controls link_to_function('Cancel',
        @patient_identifier.new_record? ?
          %{ $('#{patient_identifier_div}').remove(); } :
          %{
            new Ajax.Updater('#{patient_identifier_div}',
              '#{patient_patient_identifier_url(@patient, @patient_identifier)}',
              {method:'get'})
          }) %>
    </table>
<% end %>
<% if @patient_identifier.new_record? -%>
</div>
<% end -%>
