.vimrc
.current
*.log
log
*.sqlite3
public/clinical_documents
config/database.yml
coverage
public/laika
*.DS_Store
tmp/*
config/deploy_local.rb
*.sw[pon]
tags
config/glassfish.yml
*.pid
doc
.yardoc
public/stylesheets/blueprint/*_bundle.css
public/javascripts/*_bundle.js
.ackrc
config/laika.yml
