<% patient_form_for(:patient, :url =>  patient_pregnancy_path(@patient),
                   :method => 'put', :update => 'pregnancyContainer') do |f| %>
<h5>Pregnancy</h5>
<table>
  <%= f.check_box :pregnant %>
  <%= f.table_controls f.submit("Save") %>
</table>
<% end %>
