<div id="templateInformationContainer">
  <h3><%=h @patient.name %>
    <% if @patient.editable_by? current_user -%>
      <%= link_to_remote 'Edit', 
            :update => {:success => 'templateInformationContainer' },
            :complete => '$("patient_name").focus()',
            :url => edit_template_info_patient_url(@patient),
            :method => 'get' %>
    <% end -%>
  </h3>
</div> 
